<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0069_2">
  <link name="bowl_0069_2">
    <inertial>
      <mass value="-0.0025434161763106494" />
      <inertia ixx="-1.0552811072689542e-05" ixy="-1.4628961756446895e-09" ixz="7.84162379699544e-10" iyy="-3.198965855433067e-06" iyz="-2.319526535582879e-10" izz="-1.3610361385001422e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0069_2/bowl_0069_2.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0069_2/bowl_0069_2.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
