<?xml version='1.0' encoding='utf-8'?>
<robot name="scan_dish_2_5">
  <link name="scan_dish_2_5">
    <inertial>
      <mass value="0.1322904524252008" />
      <inertia ixx="0.0006044118233831595" ixy="1.647146273992917e-07" ixz="5.735877241327384e-08" iyy="6.744826781021519e-05" iyz="4.424831107287956e-07" izz="0.0006458349291290073" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/scan_dish_2_5/scan_dish_2_5.stl" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/scan_dish_2_5/scan_dish_2_5.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
