<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0056_1">
  <link name="bowl_0056_1">
    <inertial>
      <mass value="-4.783063822629993" />
      <inertia ixx="-0.03282293409955522" ixy="-1.4005666938193654e-05" ixz="1.7800570024368633e-07" iyy="-0.029588949621464095" iyz="6.923804780564405e-06" izz="-0.062243045659451414" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0056_1/bowl_0056_1.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0056_1/bowl_0056_1.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
