<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0083_9">
  <link name="bowl_0083_9">
    <inertial>
      <mass value="0.0" />
      <inertia ixx="3.7926231085556314e-22" ixy="6.472743438601612e-20" ixz="-5.779235213037153e-22" iyy="-9.20885010977389e-20" iyz="-3.467541127822292e-21" izz="-9.246776340859445e-20" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0083_9/bowl_0083_9.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0083_9/bowl_0083_9.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
