<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0005_9">
  <link name="bowl_0005_9">
    <inertial>
      <mass value="0.32823004544434425" />
      <inertia ixx="0.00047372886374140547" ixy="-4.751607061167329e-10" ixz="-1.5479349878787842e-10" iyy="0.0012129978837173863" iyz="-8.838921236047053e-11" izz="0.001600505364715891" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0005_9/bowl_0005_9.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0005_9/bowl_0005_9.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
