<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0082">
  <link name="bowl_0082">
    <inertial>
      <mass value="0.7731173222802955" />
      <inertia ixx="0.0009669812740489645" ixy="5.66883790828329e-12" ixz="4.8491549436945474e-11" iyy="0.0006426965765406795" iyz="3.381146040067375e-11" izz="0.0006426952649122278" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0082/bowl_0082.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0082/bowl_0082.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
