<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_13oz_06_2">
  <link name="takeout_cup_13oz_06_2">
    <inertial>
      <mass value="2.254594979573781" />
      <inertia ixx="0.004729510503526322" ixy="1.1060377149811403e-11" ixz="7.097678641136618e-12" iyy="0.007159419320707177" iyz="-2.128092117565547e-07" izz="0.009547105424846778" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_13oz_06_2/takeout_cup_13oz_06_2.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_13oz_06_2/takeout_cup_13oz_06_2.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
