<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0081_1">
  <link name="bowl_0081_1">
    <inertial>
      <mass value="-0.05878131039235166" />
      <inertia ixx="6.072900477034974e-05" ixy="-7.669568428386901e-10" ixz="-3.0752712056636265e-09" iyy="-0.00018512164403267163" iyz="2.820136873434871e-09" izz="-0.00028282507058920994" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0081_1/bowl_0081_1.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0081_1/bowl_0081_1.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
