<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0029_6">
  <link name="bowl_0029_6">
    <inertial>
      <mass value="-0.08543659750840432" />
      <inertia ixx="-0.00017604205025509924" ixy="1.2515470224763503e-06" ixz="4.5320263937466104e-10" iyy="-0.00017433679483214504" iyz="4.33734224260213e-10" izz="-0.00034097191697952066" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0029_6/bowl_0029_6.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0029_6/bowl_0029_6.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
