<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0028_3">
  <link name="bowl_0028_3">
    <inertial>
      <mass value="0.07261950882996789" />
      <inertia ixx="0.000247502032617544" ixy="-1.170952542831606e-11" ixz="2.8986076155927465e-12" iyy="8.460983785540848e-05" iyz="-1.663176536794077e-11" izz="0.00031427502237906565" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0028_3/bowl_0028_3.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0028_3/bowl_0028_3.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
