<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0030_4">
  <link name="bowl_0030_4">
    <inertial>
      <mass value="-0.07657270388301861" />
      <inertia ixx="-4.6907907739329914e-05" ixy="-4.6580200737973993e-07" ixz="8.339115139843308e-08" iyy="-3.610205453087444e-05" iyz="-9.351092469741396e-09" izz="-9.177630829230912e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0030_4/bowl_0030_4.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0030_4/bowl_0030_4.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
