<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0061_9">
  <link name="bowl_0061_9">
    <inertial>
      <mass value="-0.005899266819261938" />
      <inertia ixx="-3.919702447832953e-05" ixy="-5.328981824371128e-08" ixz="-3.4695412616871483e-07" iyy="-2.7458807401107198e-06" iyz="-6.286446892021096e-07" izz="-4.0856371600036315e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0061_9/bowl_0061_9.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0061_9/bowl_0061_9.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
