<?xml version='1.0' encoding='utf-8'?>
<robot name="melamineware_g_0207_6">
  <link name="melamineware_g_0207_6">
    <inertial>
      <mass value="0.10045782817167873" />
      <inertia ixx="0.00011434361465492753" ixy="-4.892677503023636e-10" ixz="-2.2930487704568595e-10" iyy="0.00039594184316171766" iyz="-9.49386772201148e-11" izz="0.000508910985660817" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/melamineware_g_0207_6/melamineware_g_0207_6.stl" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/melamineware_g_0207_6/melamineware_g_0207_6.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
