<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0063">
  <link name="bowl_0063">
    <inertial>
      <mass value="0.46100156137043563" />
      <inertia ixx="0.0006410251220524517" ixy="7.709941309597193e-07" ixz="-3.1533563220836587e-07" iyy="0.0004149996906717598" iyz="2.9814056005550566e-07" izz="0.00041501769914459676" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/scripts/../assets/urdf/bowl_0063.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/scripts/../assets/urdf/bowl_0063.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
