<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0033_0">
  <link name="bowl_0033_0">
    <inertial>
      <mass value="2.3671747432600178e-17" />
      <inertia ixx="7.394712056181445e-20" ixy="5.085726987472695e-20" ixz="-0.0" iyy="1.1093422592525223e-19" iyz="-3.467541127822292e-21" izz="1.8493552681718894e-19" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0033_0/bowl_0033_0.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0033_0/bowl_0033_0.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
