<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0048_9">
  <link name="bowl_0048_9">
    <inertial>
      <mass value="-9.468698973040071e-17" />
      <inertia ixx="2.9127345473707253e-19" ixy="2.311694085214861e-20" ixz="-7.801967537600157e-21" iyy="-1.5257180962418087e-19" iyz="1.849355268171889e-20" izz="1.4794842145375112e-19" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0048_9/bowl_0048_9.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0048_9/bowl_0048_9.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
