<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_10oz_4">
  <link name="takeout_cup_10oz_4">
    <inertial>
      <mass value="0.08964225075875787" />
      <inertia ixx="0.00023315394900658612" ixy="4.7537776368930835e-12" ixz="1.0495393129253057e-11" iyy="0.00022354284430041183" iyz="-3.204182802725056e-08" izz="0.00028229580698947113" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//takeout_cup_10oz_4/takeout_cup_10oz_4.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//takeout_cup_10oz_4/takeout_cup_10oz_4.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
