<?xml version='1.0' encoding='utf-8'?>
<robot name="melamineware_g_0207_3">
  <link name="melamineware_g_0207_3">
    <inertial>
      <mass value="0.14010093516928224" />
      <inertia ixx="0.000615680048508123" ixy="-9.516145843212287e-10" ixz="-2.2647177356605988e-10" iyy="0.0002774114126558838" iyz="-2.607438868763305e-10" izz="0.0008911745888017397" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/melamineware_g_0207_3/melamineware_g_0207_3.stl" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/melamineware_g_0207_3/melamineware_g_0207_3.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
