<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0042_8">
  <link name="bowl_0042_8">
    <inertial>
      <mass value="-0.4332111514049328" />
      <inertia ixx="-0.0010747337859554464" ixy="-3.8781720404526195e-06" ixz="-5.048225103116996e-05" iyy="-0.0011924277014445073" iyz="-1.9449881433455893e-05" izz="-0.0019724974739784946" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0042_8/bowl_0042_8.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0042_8/bowl_0042_8.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
