<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0014_1">
  <link name="bowl_0014_1">
    <inertial>
      <mass value="9.468698973040071e-17" />
      <inertia ixx="1.4484208252674364e-19" ixy="2.219226321806267e-19" ixz="-1.0402623383466876e-20" iyy="7.366357683417481e-19" iyz="-4.6233881704297224e-21" izz="8.876905287225068e-19" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0014_1/bowl_0014_1.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0014_1/bowl_0014_1.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
