<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0025_3">
  <link name="bowl_0025_3">
    <inertial>
      <mass value="-0.32381019508469033" />
      <inertia ixx="-0.00038292752322179063" ixy="-8.638369506343226e-07" ixz="2.393865868848121e-06" iyy="-0.0003678145641476927" iyz="1.5097558817873435e-06" izz="-0.0009332397644101277" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0025_3/bowl_0025_3.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0025_3/bowl_0025_3.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
