<?xml version='1.0' encoding='utf-8'?>
<robot name="Y6994_cerembowl2_4">
  <link name="Y6994_cerembowl2_4">
    <inertial>
      <mass value="-0.07315513061073602" />
      <inertia ixx="-8.833343208795905e-05" ixy="7.366815409850018e-10" ixz="4.106251269763633e-08" iyy="-0.0006826825565352517" iyz="-5.961678122098828e-09" izz="-0.0007452601829146694" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//Y6994_cerembowl2_4/Y6994_cerembowl2_4.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//Y6994_cerembowl2_4/Y6994_cerembowl2_4.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
