<?xml version='1.0' encoding='utf-8'?>
<robot name="melamineware_g_0210_0">
  <link name="melamineware_g_0210_0">
    <inertial>
      <mass value="0.13500894342143216" />
      <inertia ixx="0.0003249768142483422" ixy="3.075940263059905e-12" ixz="4.394380856401153e-11" iyy="0.0007818815648906377" iyz="-2.2997876239196694e-13" izz="0.0011045152999675193" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/melamineware_g_0210_0/melamineware_g_0210_0.stl" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/melamineware_g_0210_0/melamineware_g_0210_0.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
