<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0068">
  <link name="bowl_0068">
    <inertial>
      <mass value="-0.23928367724629684" />
      <inertia ixx="0.00035044474257526066" ixy="-1.1988827736630242e-09" ixz="2.984096467604103e-11" iyy="0.00015526567604107853" iyz="-6.986961914981365e-11" izz="0.00015526575149239362" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0068/bowl_0068.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0068/bowl_0068.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
