<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_10oz_05">
  <link name="takeout_cup_10oz_05">
    <inertial>
      <mass value="0.21582129578485765" />
      <inertia ixx="0.0001424738390753372" ixy="-3.847074930966305e-12" ixz="1.2064289189209773e-13" iyy="0.00014548889547971554" iyz="-1.2799968237545801e-08" izz="0.00014248442963196692" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/scripts/../assets/urdf/takeout_cup_10oz_05/takeout_cup_10oz_05.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/scripts/../assets/urdf/takeout_cup_10oz_05/takeout_cup_10oz_05.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
