<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_16oz_10_3">
  <link name="takeout_cup_16oz_10_3">
    <inertial>
      <mass value="1.5962364788890149" />
      <inertia ixx="0.006460686870581158" ixy="1.059648911254531e-11" ixz="7.699302342265373e-12" iyy="0.0024771999535636935" iyz="-8.02370948440988e-09" izz="0.004721676153040618" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/takeout_cup_16oz_10_3/takeout_cup_16oz_10_3.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/takeout_cup_16oz_10_3/takeout_cup_16oz_10_3.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
