<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0024_8">
  <link name="bowl_0024_8">
    <inertial>
      <mass value="-2.7740329022578336e-18" />
      <inertia ixx="-1.7998116596607118e-21" ixy="-2.844467331416724e-22" ixz="1.4673839408102146e-22" iyy="-9.419476143124033e-22" iyz="-3.8370679106090187e-22" izz="-2.7361154895853834e-21" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0024_8/bowl_0024_8.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0024_8/bowl_0024_8.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
