<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_65oz_03_2">
  <link name="takeout_cup_65oz_03_2">
    <inertial>
      <mass value="0.4138807199344711" />
      <inertia ixx="0.00038439717649441855" ixy="1.4805338385433946e-11" ixz="-8.460867973561772e-12" iyy="0.0021303808442336668" iyz="-4.179440060686348e-08" izz="0.0022792313467700893" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/takeout_cup_65oz_03_2/takeout_cup_65oz_03_2.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/takeout_cup_65oz_03_2/takeout_cup_65oz_03_2.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
