<?xml version='1.0' encoding='utf-8'?>
<robot name="Y6995_cerembowl_5">
  <link name="Y6995_cerembowl_5">
    <inertial>
      <mass value="-0.12220550673708705" />
      <inertia ixx="-0.0008168267217776337" ixy="2.2938660447193315e-09" ixz="-7.1995901200185045e-09" iyy="-0.000450521993307597" iyz="1.3202166468849507e-09" izz="-0.0012180451693084378" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//Y6995_cerembowl_5/Y6995_cerembowl_5.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//Y6995_cerembowl_5/Y6995_cerembowl_5.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
