<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0057_4">
  <link name="bowl_0057_4">
    <inertial>
      <mass value="0.0" />
      <inertia ixx="6.935082255644584e-21" ixy="-0.0" ixz="-0.0" iyy="9.246776340859445e-21" iyz="-3.467541127822292e-21" izz="1.618185859650403e-20" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0057_4/bowl_0057_4.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0057_4/bowl_0057_4.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
