<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0037_9">
  <link name="bowl_0037_9">
    <inertial>
      <mass value="0.10554183872096794" />
      <inertia ixx="0.000583581710334524" ixy="1.4501917416113924e-10" ixz="2.518863942499397e-10" iyy="2.3753087257528708e-05" iyz="4.76517679893193e-09" izz="0.0006273739991120385" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0037_9/bowl_0037_9.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0037_9/bowl_0037_9.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
