<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0042_4">
  <link name="bowl_0042_4">
    <inertial>
      <mass value="-1.168432475786711" />
      <inertia ixx="-0.005841283664518045" ixy="-2.8212076642705203e-05" ixz="-0.00024893001177066633" iyy="-0.009819073125748683" iyz="-7.73909872179586e-05" izz="-0.01486560577425361" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0042_4/bowl_0042_4.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0042_4/bowl_0042_4.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
