<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0011_2">
  <link name="bowl_0011_2">
    <inertial>
      <mass value="0.007790691987830283" />
      <inertia ixx="5.3279598176344835e-06" ixy="-1.7369354118154504e-11" ixz="2.1975106721162234e-12" iyy="3.60688604677293e-05" iyz="6.667462359931049e-12" izz="3.891129482064915e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0011_2/bowl_0011_2.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0011_2/bowl_0011_2.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
