<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_10oz_10">
  <link name="takeout_cup_10oz_10">
    <inertial>
      <mass value="0.5037065545288416" />
      <inertia ixx="0.0005077683493042596" ixy="-2.8539501074508956e-12" ixz="1.1604157707712153e-13" iyy="0.00035664865656698057" iyz="-2.551133677889615e-10" izz="0.0005077686048102016" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//takeout_cup_10oz_10/takeout_cup_10oz_10.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//takeout_cup_10oz_10/takeout_cup_10oz_10.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
