<?xml version='1.0' encoding='utf-8'?>
<robot name="scan_dish_2_8">
  <link name="scan_dish_2_8">
    <inertial>
      <mass value="0.05275963269417949" />
      <inertia ixx="2.0865948197200313e-05" ixy="2.6198636640396515e-08" ixz="3.538762372897819e-08" iyy="5.7142983016423154e-05" iyz="4.5495132144918444e-08" izz="6.76296637294573e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//scan_dish_2_8/scan_dish_2_8.stl" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//scan_dish_2_8/scan_dish_2_8.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
