<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0017_5">
  <link name="bowl_0017_5">
    <inertial>
      <mass value="0.08748092361790392" />
      <inertia ixx="0.0002148010881731474" ixy="-1.9916301693237867e-09" ixz="1.4123612804534183e-07" iyy="0.00011845114037597802" iyz="-1.7034259673681013e-10" izz="0.00030730025561297923" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0017_5/bowl_0017_5.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0017_5/bowl_0017_5.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
