<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0035_0">
  <link name="bowl_0035_0">
    <inertial>
      <mass value="0.14120151398208844" />
      <inertia ixx="0.00031993034700991354" ixy="1.1671293619879652e-10" ixz="4.162953162920793e-12" iyy="0.00033079404511347446" iyz="1.9602436043573354e-10" izz="0.0005827206903667207" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0035_0/bowl_0035_0.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0035_0/bowl_0035_0.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
