<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0007_5">
  <link name="bowl_0007_5">
    <inertial>
      <mass value="-0.19485338496883078" />
      <inertia ixx="-0.00013834708036070305" ixy="3.6817509887746225e-07" ixz="-3.581209172438948e-07" iyy="-0.0009015125511803857" iyz="7.038882073283641e-10" izz="-0.001008268474698119" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0007_5/bowl_0007_5.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0007_5/bowl_0007_5.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
