<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_65oz_4">
  <link name="takeout_cup_65oz_4">
    <inertial>
      <mass value="0.13513393549453406" />
      <inertia ixx="0.00024474451419361046" ixy="7.815855254804635e-12" ixz="-1.6658244378733624e-11" iyy="0.0008103241191654758" iyz="-2.2639173222591554e-08" izz="0.0009175493771720509" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_65oz_4/takeout_cup_65oz_4.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_65oz_4/takeout_cup_65oz_4.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
