<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0063_1">
  <link name="bowl_0063_1">
    <inertial>
      <mass value="-2.1767739455667208" />
      <inertia ixx="-0.008608545147057473" ixy="2.592944787907165e-08" ixz="4.067464023266614e-08" iyy="-0.014345206942913654" iyz="5.097095430415416e-08" izz="-0.021868841376647248" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0063_1/bowl_0063_1.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0063_1/bowl_0063_1.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
