<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0073_3">
  <link name="bowl_0073_3">
    <inertial>
      <mass value="-5.9179368581500445e-18" />
      <inertia ixx="-5.548065804515667e-20" ixy="-1.849355268171889e-20" ixz="1.4448088032592882e-21" iyy="0.0" iyz="-0.0" izz="-5.548065804515667e-20" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0073_3/bowl_0073_3.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0073_3/bowl_0073_3.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
