<?xml version='1.0' encoding='utf-8'?>
<robot name="Y6994_cerembowl2_7">
  <link name="Y6994_cerembowl2_7">
    <inertial>
      <mass value="-0.10485606275133041" />
      <inertia ixx="-0.0006721139931518423" ixy="1.5134821402562647e-09" ixz="3.431535164857882e-08" iyy="-0.00034480963515924574" iyz="-2.100737851119306e-08" izz="-0.0009800068412444875" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/Y6994_cerembowl2_7/Y6994_cerembowl2_7.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/Y6994_cerembowl2_7/Y6994_cerembowl2_7.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
