<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_65oz_05_6">
  <link name="takeout_cup_65oz_05_6">
    <inertial>
      <mass value="0.32027273819301927" />
      <inertia ixx="0.00037547988826025676" ixy="5.640564498391123e-13" ixz="-1.2414823103867238e-12" iyy="0.0002491010784440864" iyz="-2.146745699679978e-08" izz="0.0005044281426163498" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/takeout_cup_65oz_05_6/takeout_cup_65oz_05_6.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/takeout_cup_65oz_05_6/takeout_cup_65oz_05_6.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
