<?xml version='1.0' encoding='utf-8'?>
<robot name="mug_cup01_4">
  <link name="mug_cup01_4">
    <inertial>
      <mass value="0.6038319941409162" />
      <inertia ixx="0.002819839051966128" ixy="4.520643786706931e-09" ixz="3.8130941759007844e-08" iyy="0.0015133954938938443" iyz="2.1177254591884623e-05" izz="0.003048318897828031" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//mug_cup01_4/mug_cup01_4.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//mug_cup01_4/mug_cup01_4.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
