<?xml version='1.0' encoding='utf-8'?>
<robot name="scan_dish_2_1">
  <link name="scan_dish_2_1">
    <inertial>
      <mass value="0.2569833359508733" />
      <inertia ixx="0.0013121023434466575" ixy="6.21562907749025e-07" ixz="2.0451337713346684e-07" iyy="0.00038152465191742857" iyz="9.097125972644561e-07" izz="0.0016430713215164607" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/scan_dish_2_1/scan_dish_2_1.stl" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/scan_dish_2_1/scan_dish_2_1.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
