<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0021_5">
  <link name="bowl_0021_5">
    <inertial>
      <mass value="-0.5737676489012519" />
      <inertia ixx="-0.003441455082851767" ixy="-2.437789503236043e-10" ixz="1.6463346541991103e-10" iyy="-0.001079419032795473" iyz="-3.801216780597826e-11" izz="-0.004347383026184647" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0021_5/bowl_0021_5.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0021_5/bowl_0021_5.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
