<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0083_0">
  <link name="bowl_0083_0">
    <inertial>
      <mass value="-5.3261431723350405e-17" />
      <inertia ixx="-2.5284154057037547e-22" ixy="-3.698710536343778e-20" ixz="-2.8896176065185765e-22" iyy="1.4769557991318077e-19" iyz="-1.1558470426074306e-21" izz="1.4794842145375112e-19" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0083_0/bowl_0083_0.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0083_0/bowl_0083_0.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
