<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_65oz_2">
  <link name="takeout_cup_65oz_2">
    <inertial>
      <mass value="0.17476830943441996" />
      <inertia ixx="0.00048325439822113355" ixy="1.307293247464535e-11" ixz="-2.1168197483453208e-11" iyy="0.001014817838449452" iyz="-3.853902236631558e-08" izz="0.0013202189992100424" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/takeout_cup_65oz_2/takeout_cup_65oz_2.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/takeout_cup_65oz_2/takeout_cup_65oz_2.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
