<?xml version='1.0' encoding='utf-8'?>
<robot name="mug_cup01_0">
  <link name="mug_cup01_0">
    <inertial>
      <mass value="0.9660445192036101" />
      <inertia ixx="0.002392696236562063" ixy="1.1570771792121895e-08" ixz="1.5592074953075593e-07" iyy="0.010130301139537418" iyz="2.120734672494229e-05" izz="0.010467316770459806" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/mug_cup01_0/mug_cup01_0.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/mug_cup01_0/mug_cup01_0.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
