<?xml version='1.0' encoding='utf-8'?>
<robot name="mug_cup02_9">
  <link name="mug_cup02_9">
    <inertial>
      <mass value="0.6981379728230594" />
      <inertia ixx="0.004388276822225537" ixy="0.00013782439332146246" ixz="-1.724167561274296e-05" iyy="0.001888022142967435" iyz="2.9057048677171146e-05" izz="0.005217146092562383" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//mug_cup02_9/mug_cup02_9.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//mug_cup02_9/mug_cup02_9.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
