<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0038_8">
  <link name="bowl_0038_8">
    <inertial>
      <mass value="0.0" />
      <inertia ixx="7.007322695807549e-21" ixy="1.1558470426074306e-21" ixz="-0.0" iyy="7.224044016296441e-23" iyz="5.779235213037153e-22" izz="6.935082255644584e-21" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0038_8/bowl_0038_8.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0038_8/bowl_0038_8.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
