<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0007_3">
  <link name="bowl_0007_3">
    <inertial>
      <mass value="-0.2118626406975301" />
      <inertia ixx="-0.00022406929827373392" ixy="4.352585039046022e-07" ixz="-3.3976621991952534e-07" iyy="-0.0007504201767228024" iyz="9.536575649545963e-10" izz="-0.0009401406444000751" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0007_3/bowl_0007_3.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0007_3/bowl_0007_3.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
