<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_16oz_10">
  <link name="takeout_cup_16oz_10">
    <inertial>
      <mass value="0.7748768365469911" />
      <inertia ixx="0.00132204276957173" ixy="-6.3011192011336705e-12" ixz="-1.800723861781649e-12" iyy="0.0005973697114170436" iyz="-1.4658059613986248e-09" izz="0.0013220437691718542" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/takeout_cup_16oz_10/takeout_cup_16oz_10.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/takeout_cup_16oz_10/takeout_cup_16oz_10.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
