<?xml version='1.0' encoding='utf-8'?>
<robot name="melamineware_g_0412_8">
  <link name="melamineware_g_0412_8">
    <inertial>
      <mass value="0.14209129054399103" />
      <inertia ixx="0.000735126378619198" ixy="-6.143616345951254e-07" ixz="-3.6017520675474576e-07" iyy="0.00021526424229671322" iyz="4.5939437138624905e-07" izz="0.0008944041203607706" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/melamineware_g_0412_8/melamineware_g_0412_8.stl" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/melamineware_g_0412_8/melamineware_g_0412_8.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
