<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0014_8">
  <link name="bowl_0014_8">
    <inertial>
      <mass value="1.1835873716300089e-17" />
      <inertia ixx="-3.6120220081482207e-23" ixy="-1.1558470426074306e-21" ixz="-5.779235213037153e-22" iyy="-1.191967262688913e-21" iyz="5.779235213037153e-22" izz="-1.1558470426074306e-21" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0014_8/bowl_0014_8.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0014_8/bowl_0014_8.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
