<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0069_9">
  <link name="bowl_0069_9">
    <inertial>
      <mass value="-0.004175239278070838" />
      <inertia ixx="-2.4972525876789486e-05" ixy="-3.9422247958267766e-09" ixz="1.758208983966437e-09" iyy="-9.69611950265498e-06" iyz="-4.5764284265842507e-10" izz="-3.4436499442940374e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0069_9/bowl_0069_9.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0069_9/bowl_0069_9.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
