<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0054_1">
  <link name="bowl_0054_1">
    <inertial>
      <mass value="0.9585279978600503" />
      <inertia ixx="0.007352532024422705" ixy="5.286820284664148e-10" ixz="3.22256512295311e-10" iyy="0.004514272003244164" iyz="1.2028583662382494e-09" izz="0.012291895246081186" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0054_1/bowl_0054_1.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0054_1/bowl_0054_1.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
