<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0054_0">
  <link name="bowl_0054_0">
    <inertial>
      <mass value="0.7594945114301073" />
      <inertia ixx="0.002998223652640649" ixy="3.3192061119650875e-10" ixz="2.7836137238234847e-10" iyy="0.004282649359245333" iyz="6.927343730806783e-10" izz="0.007617696190722273" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0054_0/bowl_0054_0.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0054_0/bowl_0054_0.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
