<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0031_5">
  <link name="bowl_0031_5">
    <inertial>
      <mass value="-0.21783903801067683" />
      <inertia ixx="-0.0014412319972091055" ixy="1.1580457162674125e-09" ixz="-2.1881069223268248e-11" iyy="-0.00044582827533258215" iyz="3.1264088241170665e-11" izz="-0.0018320516390437694" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0031_5/bowl_0031_5.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0031_5/bowl_0031_5.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
