<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_65oz_05_1">
  <link name="takeout_cup_65oz_05_1">
    <inertial>
      <mass value="0.8736576938581743" />
      <inertia ixx="0.001247557898212914" ixy="4.197253941055566e-12" ixz="-8.231461449079507e-12" iyy="0.0032101608608770134" iyz="-6.572160884836924e-08" izz="0.004129959238265525" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//takeout_cup_65oz_05_1/takeout_cup_65oz_05_1.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//takeout_cup_65oz_05_1/takeout_cup_65oz_05_1.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
