<?xml version='1.0' encoding='utf-8'?>
<robot name="melamineware_g_0151_7">
  <link name="melamineware_g_0151_7">
    <inertial>
      <mass value="0.38307727743119163" />
      <inertia ixx="0.002050593145040192" ixy="-2.508649866644692e-07" ixz="6.661484124170863e-07" iyy="0.0011622103440763136" iyz="1.2329952738587084e-06" izz="0.0031374416431329114" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/melamineware_g_0151_7/melamineware_g_0151_7.stl" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/melamineware_g_0151_7/melamineware_g_0151_7.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
