<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0067">
  <link name="bowl_0067">
    <inertial>
      <mass value="0.7905148038072751" />
      <inertia ixx="0.0018012914783962796" ixy="6.063790363933865e-09" ixz="2.590084472884813e-06" iyy="0.0011539185100386156" iyz="-1.2364733279337137e-09" izz="0.001153948124927414" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0067/bowl_0067.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0067/bowl_0067.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
