<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_65oz_10_1">
  <link name="takeout_cup_65oz_10_1">
    <inertial>
      <mass value="1.5009155905402414" />
      <inertia ixx="0.0025207641392502086" ixy="-1.086665933072251e-12" ixz="-6.148866245641877e-12" iyy="0.003056549860373269" iyz="-1.3515864834784261e-09" izz="0.0046191635918208275" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//takeout_cup_65oz_10_1/takeout_cup_65oz_10_1.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//takeout_cup_65oz_10_1/takeout_cup_65oz_10_1.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
