<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0084_6">
  <link name="bowl_0084_6">
    <inertial>
      <mass value="-0.13666596402918563" />
      <inertia ixx="0.005724321282526689" ixy="1.2231155980024734e-06" ixz="-0.0002172720585946532" iyy="0.005141419163368918" iyz="-2.565950181490906e-06" izz="-0.0008351790320230345" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0084_6/bowl_0084_6.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0084_6/bowl_0084_6.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
