<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0056_3">
  <link name="bowl_0056_3">
    <inertial>
      <mass value="-3.9861737568979683" />
      <inertia ixx="-0.027575294168544588" ixy="-9.727559453794027e-06" ixz="1.2313547003087772e-07" iyy="-0.017011281809427386" iyz="5.793562558425119e-06" izz="-0.04444586745407495" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0056_3/bowl_0056_3.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0056_3/bowl_0056_3.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
