<?xml version='1.0' encoding='utf-8'?>
<robot name="Y6995_cerembowl_0">
  <link name="Y6995_cerembowl_0">
    <inertial>
      <mass value="-0.1523000537020498" />
      <inertia ixx="-0.0006191046039155568" ixy="3.562760373131991e-09" ixz="-1.4484777248955557e-08" iyy="-0.0014138942459972902" iyz="1.2701908992368657e-09" izz="-0.0019715537246480603" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//Y6995_cerembowl_0/Y6995_cerembowl_0.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//Y6995_cerembowl_0/Y6995_cerembowl_0.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
