<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0041_0">
  <link name="bowl_0041_0">
    <inertial>
      <mass value="-0.41250063627067324" />
      <inertia ixx="-0.0018392296478940834" ixy="-5.553537560869364e-08" ixz="-1.4628915387042588e-06" iyy="-0.002510155888338" iyz="1.1820333447108854e-07" izz="-0.003979700040656661" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0041_0/bowl_0041_0.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0041_0/bowl_0041_0.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
