<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0069_5">
  <link name="bowl_0069_5">
    <inertial>
      <mass value="-0.0018280990299538369" />
      <inertia ixx="-2.858873715311694e-06" ixy="-7.557498728309765e-10" ixz="6.635648483944079e-10" iyy="-3.1673783653660924e-06" iyz="-1.0178149929092117e-10" izz="-5.924608621928058e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0069_5/bowl_0069_5.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0069_5/bowl_0069_5.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
