<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0012_6">
  <link name="bowl_0012_6">
    <inertial>
      <mass value="-0.2278005946115149" />
      <inertia ixx="0.003062967547945703" ixy="0.00012141304457550004" ixz="0.0001145893761835584" iyy="0.004279379186396008" iyz="-9.686027158015975e-05" izz="-0.00367953970115054" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0012_6/bowl_0012_6.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0012_6/bowl_0012_6.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
