<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0083_4">
  <link name="bowl_0083_4">
    <inertial>
      <mass value="4.7343494865200356e-17" />
      <inertia ixx="7.363106863610148e-20" ixy="-5.548065804515667e-20" ixz="9.102295460533517e-21" iyy="-3.7021419572515185e-19" iyz="4.6233881704297224e-21" izz="-2.9589684290750224e-19" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0083_4/bowl_0083_4.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0083_4/bowl_0083_4.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
