<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0046_5">
  <link name="bowl_0046_5">
    <inertial>
      <mass value="0.009388237368078632" />
      <inertia ixx="7.0876212246307994e-06" ixy="3.326750776347744e-11" ixz="1.856787382103211e-11" iyy="6.6191207452131085e-06" iyz="2.1341578502831837e-11" izz="1.1942533603521051e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0046_5/bowl_0046_5.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0046_5/bowl_0046_5.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
