<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0004_3">
  <link name="bowl_0004_3">
    <inertial>
      <mass value="-0.7548099516747138" />
      <inertia ixx="-0.002941998296546249" ixy="-1.797882323812795e-09" ixz="-1.175364445228272e-09" iyy="-0.0030780637286002043" iyz="2.1655270478257557e-10" izz="-0.0058142830715187405" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0004_3/bowl_0004_3.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0004_3/bowl_0004_3.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
