<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0061_6">
  <link name="bowl_0061_6">
    <inertial>
      <mass value="-0.008019477758117935" />
      <inertia ixx="-8.396843308687126e-06" ixy="-9.84782527657575e-08" ixz="-1.679465695510746e-06" iyy="-3.8703963285279456e-05" iyz="-3.2624984474093563e-07" izz="-4.562377013279362e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0061_6/bowl_0061_6.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0061_6/bowl_0061_6.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
