<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_10oz_10_6">
  <link name="takeout_cup_10oz_10_6">
    <inertial>
      <mass value="2.080469352021225" />
      <inertia ixx="0.0024306658420661384" ixy="-3.3055576920624174e-12" ixz="3.9336197078521895e-11" iyy="0.01001019280970695" iyz="-1.2799780573205852e-09" izz="0.009719438967159879" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_10oz_10_6/takeout_cup_10oz_10_6.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_10oz_10_6/takeout_cup_10oz_10_6.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
