<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0032_5">
  <link name="bowl_0032_5">
    <inertial>
      <mass value="-0.4202215738607013" />
      <inertia ixx="-0.00023448102459814764" ixy="2.479946303208962e-10" ixz="3.1228302507920343e-09" iyy="-0.0004046789985440399" iyz="-6.102351473071133e-09" izz="-0.0007216726753911556" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0032_5/bowl_0032_5.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0032_5/bowl_0032_5.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
