<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0016_4">
  <link name="bowl_0016_4">
    <inertial>
      <mass value="-0.39945719093680565" />
      <inertia ixx="-0.0017351711009791738" ixy="5.726753396975576e-10" ixz="-3.4025570940318313e-10" iyy="-0.0009269106245541906" iyz="-5.740438110382193e-09" izz="-0.0023775134317879825" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0016_4/bowl_0016_4.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0016_4/bowl_0016_4.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
