<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0041">
  <link name="bowl_0041">
    <inertial>
      <mass value="0.35848924748988215" />
      <inertia ixx="0.00032840663289600747" ixy="-4.4071843521475336e-06" ixz="5.207890306733252e-06" iyy="0.00023648084310975772" iyz="-1.224527358796851e-07" izz="0.0002350043669066679" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0041/bowl_0041.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0041/bowl_0041.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
