<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0054">
  <link name="bowl_0054">
    <inertial>
      <mass value="0.21617398365162713" />
      <inertia ixx="0.000393604143872889" ixy="-6.827051090117174e-12" ixz="1.1597522486605953e-07" iyy="0.0002074053956245089" iyz="-7.848310349778116e-12" izz="0.00020740494032935999" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0054/bowl_0054.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0054/bowl_0054.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
