<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_16oz_10_1">
  <link name="takeout_cup_16oz_10_1">
    <inertial>
      <mass value="3.0191706309948745" />
      <inertia ixx="0.008023983976990523" ixy="3.7909045460491834e-11" ixz="3.933601919481788e-11" iyy="0.00908094120344918" iyz="-1.0626920691694744e-08" izz="0.009130255010550566" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_16oz_10_1/takeout_cup_16oz_10_1.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_16oz_10_1/takeout_cup_16oz_10_1.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
