<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0027_4">
  <link name="bowl_0027_4">
    <inertial>
      <mass value="-0.13822882380384552" />
      <inertia ixx="-0.000602077547994217" ixy="3.3983299404654987e-09" ixz="1.042773520413961e-10" iyy="-0.0008469087440994237" iyz="-5.283030667590114e-11" izz="-0.0014136388671333456" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0027_4/bowl_0027_4.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0027_4/bowl_0027_4.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
