<?xml version='1.0' encoding='utf-8'?>
<robot name="8eab5598b81afd7bab5b523beb03efcd">
  <link name="8eab5598b81afd7bab5b523beb03efcd">
    <inertial>
      <mass value="0.12549077591618504" />
      <inertia ixx="0.00011515669087232675" ixy="5.071861935064823e-08" ixz="1.6700136084437814e-08" iyy="0.00011516440593355551" iyz="-1.5012893746195103e-08" izz="0.00018805103721057336" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/8eab5598b81afd7bab5b523beb03efcd/8eab5598b81afd7bab5b523beb03efcd.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/8eab5598b81afd7bab5b523beb03efcd/8eab5598b81afd7bab5b523beb03efcd.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
