<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0067_6">
  <link name="bowl_0067_6">
    <inertial>
      <mass value="-0.0520455919644952" />
      <inertia ixx="0.023571709039460334" ixy="2.600621620795193e-06" ixz="0.0007718721205803963" iyy="0.023558185318281095" iyz="-1.429268403565635e-06" izz="-1.354372422717769e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0067_6/bowl_0067_6.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0067_6/bowl_0067_6.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
