<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0074_0">
  <link name="bowl_0074_0">
    <inertial>
      <mass value="0.0" />
      <inertia ixx="0.0" ixy="-3.236371719300806e-20" ixz="-3.698710536343778e-20" iyy="5.917936858150045e-19" iyz="1.849355268171889e-20" izz="5.917936858150045e-19" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0074_0/bowl_0074_0.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0074_0/bowl_0074_0.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
