<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_16oz_05_8">
  <link name="takeout_cup_16oz_05_8">
    <inertial>
      <mass value="2.156287265797475" />
      <inertia ixx="0.00815035589049606" ixy="1.1498127985481504e-10" ixz="1.4254968571476328e-10" iyy="0.0051261226960453" iyz="-4.155885376667805e-08" izz="0.010536737350932593" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/takeout_cup_16oz_05_8/takeout_cup_16oz_05_8.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/takeout_cup_16oz_05_8/takeout_cup_16oz_05_8.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
