<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0080_0">
  <link name="bowl_0080_0">
    <inertial>
      <mass value="1.1835873716300089e-17" />
      <inertia ixx="-3.814295240604522e-20" ixy="1.849355268171889e-20" ixz="-1.733770563911146e-21" iyy="2.6584481979970906e-20" iyz="-4.6233881704297224e-21" izz="-9.246776340859443e-21" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0080_0/bowl_0080_0.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0080_0/bowl_0080_0.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
