<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0036_8">
  <link name="bowl_0036_8">
    <inertial>
      <mass value="0.026485204306841464" />
      <inertia ixx="2.321399288306301e-05" ixy="1.1176788352076336e-12" ixz="3.5916495098656054e-13" iyy="9.090827557118567e-06" iyz="-7.055156888272105e-13" izz="4.1629514515186963e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0036_8/bowl_0036_8.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0036_8/bowl_0036_8.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
