<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_10oz_10_1">
  <link name="takeout_cup_10oz_10_1">
    <inertial>
      <mass value="0.9680125743625168" />
      <inertia ixx="0.000992316719429028" ixy="-7.156226851060612e-13" ixz="1.002553619469959e-11" iyy="0.001840657177630598" iyz="-5.058786096011671e-10" izz="0.0015667363183786852" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//takeout_cup_10oz_10_1/takeout_cup_10oz_10_1.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//takeout_cup_10oz_10_1/takeout_cup_10oz_10_1.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
