<?xml version='1.0' encoding='utf-8'?>
<robot name="scan_dish_3_8">
  <link name="scan_dish_3_8">
    <inertial>
      <mass value="0.0582527466677486" />
      <inertia ixx="7.206707269778429e-05" ixy="-1.0263123322566417e-07" ixz="2.021491362996071e-08" iyy="4.255774435375735e-05" iyz="1.9644915831573238e-07" izz="8.099095024785352e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/scan_dish_3_8/scan_dish_3_8.stl" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/scan_dish_3_8/scan_dish_3_8.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
