<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0030_9">
  <link name="bowl_0030_9">
    <inertial>
      <mass value="-0.04630738165839771" />
      <inertia ixx="-9.696944566286974e-06" ixy="-1.7035459059183072e-07" ixz="4.833803401922192e-08" iyy="-1.9842842786501748e-05" iyz="-3.5679771698692723e-09" izz="-3.484123957282988e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0030_9/bowl_0030_9.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0030_9/bowl_0030_9.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
