<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0044_9">
  <link name="bowl_0044_9">
    <inertial>
      <mass value="0.11011285978092646" />
      <inertia ixx="0.0005217839459515338" ixy="2.7416134033687297e-09" ixz="-3.7785764063029954e-10" iyy="0.00083112500726576" iyz="2.9202550014819565e-10" izz="0.0013495182686643413" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0044_9/bowl_0044_9.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0044_9/bowl_0044_9.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
