<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0003">
  <link name="bowl_0003">
    <inertial>
      <mass value="0.34235958411954176" />
      <inertia ixx="-2.7908444192852423e-05" ixy="7.334429083136222e-07" ixz="1.838256948382075e-06" iyy="3.931644657870446e-05" iyz="4.938440037623946e-06" izz="2.2503762674698733e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0003/bowl_0003.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0003/bowl_0003.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
