<?xml version='1.0' encoding='utf-8'?>
<robot name="scan_dish_2_7">
  <link name="scan_dish_2_7">
    <inertial>
      <mass value="0.40785348005346983" />
      <inertia ixx="0.0017715020011730745" ixy="1.565609721596693e-06" ixz="5.594776017646406e-07" iyy="0.001719980538341945" iyz="1.3293546342594721e-06" izz="0.003411246568420209" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/scan_dish_2_7/scan_dish_2_7.stl" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/scan_dish_2_7/scan_dish_2_7.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
