<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0033_6">
  <link name="bowl_0033_6">
    <inertial>
      <mass value="1.1835873716300089e-17" />
      <inertia ixx="-2.774935907759871e-20" ixy="-1.3870164511289168e-20" ixz="2.8896176065185765e-22" iyy="-3.699613541845815e-20" iyz="3.467541127822292e-21" izz="-6.472743438601612e-20" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0033_6/bowl_0033_6.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0033_6/bowl_0033_6.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
