<?xml version='1.0' encoding='utf-8'?>
<robot name="melamineware_g_0130_7">
  <link name="melamineware_g_0130_7">
    <inertial>
      <mass value="0.11565362050652274" />
      <inertia ixx="0.0005244170689771848" ixy="7.8758995322368e-07" ixz="2.107236837166118e-07" iyy="7.218250622221183e-05" iyz="2.7493340247387427e-07" izz="0.0005799004463836611" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/melamineware_g_0130_7/melamineware_g_0130_7.stl" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/melamineware_g_0130_7/melamineware_g_0130_7.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
