<?xml version='1.0' encoding='utf-8'?>
<robot name="8eab5598b81afd7bab5b523beb03efcd_4">
  <link name="8eab5598b81afd7bab5b523beb03efcd_4">
    <inertial>
      <mass value="0.8642579911063404" />
      <inertia ixx="0.005389064162942874" ixy="5.913306453332471e-07" ixz="-5.185438815307566e-08" iyy="0.003938670522326085" iyz="7.635144315698406e-07" izz="0.009036619554111204" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//8eab5598b81afd7bab5b523beb03efcd_4/8eab5598b81afd7bab5b523beb03efcd_4.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//8eab5598b81afd7bab5b523beb03efcd_4/8eab5598b81afd7bab5b523beb03efcd_4.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
