<?xml version='1.0' encoding='utf-8'?>
<robot name="Y6994_cerembowl2_5">
  <link name="Y6994_cerembowl2_5">
    <inertial>
      <mass value="-0.0532046467328863" />
      <inertia ixx="-5.53055466164546e-05" ixy="3.896631487882332e-10" ixz="2.3738824327584085e-08" iyy="-0.00031716742679145914" iyz="-3.967063576128913e-09" izz="-0.0003537411560684653" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/Y6994_cerembowl2_5/Y6994_cerembowl2_5.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/Y6994_cerembowl2_5/Y6994_cerembowl2_5.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
