<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0083">
  <link name="bowl_0083">
    <inertial>
      <mass value="-1.294548687720322e-18" />
      <inertia ixx="3.467541127822292e-21" ixy="2.7090165061111656e-23" ixz="5.779235213037153e-22" iyy="-2.3658744153370845e-21" iyz="1.1558470426074306e-21" izz="5.7250548829149295e-21" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0083/bowl_0083.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0083/bowl_0083.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
