<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0071_6">
  <link name="bowl_0071_6">
    <inertial>
      <mass value="0.09897314327960599" />
      <inertia ixx="-7.923381494197726e-05" ixy="4.6586782254619677e-07" ixz="-7.892160464886681e-07" iyy="0.00041001539193293685" iyz="3.917819530627949e-08" izz="0.0006939331083062154" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0071_6/bowl_0071_6.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0071_6/bowl_0071_6.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
