<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0028_9">
  <link name="bowl_0028_9">
    <inertial>
      <mass value="0.07487579942969304" />
      <inertia ixx="0.0001223233382943877" ixy="-1.2448459884285212e-11" ixz="4.544074421455256e-12" iyy="0.0001896096164343771" iyz="-1.162911958141721e-11" izz="0.0002935419151602813" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0028_9/bowl_0028_9.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0028_9/bowl_0028_9.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
