<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0025_2">
  <link name="bowl_0025_2">
    <inertial>
      <mass value="-0.26240520225978214" />
      <inertia ixx="-0.0001273362887371913" ixy="-5.672775831564484e-07" ixz="2.1720648289936156e-06" iyy="-0.00039243145631682937" iyz="8.854815714364231e-07" izz="-0.0006676578997888516" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0025_2/bowl_0025_2.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0025_2/bowl_0025_2.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
