<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0055_1">
  <link name="bowl_0055_1">
    <inertial>
      <mass value="5.9179368581500445e-18" />
      <inertia ixx="-1.05963997410846e-05" ixy="2.3116940852148612e-21" ixz="3.6120220081482205e-22" iyy="-1.0596399741084595e-05" iyz="4.334426409777865e-21" izz="1.1558470426074306e-21" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0055_1/bowl_0055_1.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0055_1/bowl_0055_1.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
