<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0024_0">
  <link name="bowl_0024_0">
    <inertial>
      <mass value="1.0356389501762577e-17" />
      <inertia ixx="-1.8421876619994697e-20" ixy="2.45617496554079e-21" ixz="-1.1016667124852073e-21" iyy="1.2425073518810492e-20" iyz="-6.22170790903531e-21" izz="-6.574162244049148e-21" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0024_0/bowl_0024_0.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0024_0/bowl_0024_0.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
