<?xml version='1.0' encoding='utf-8'?>
<robot name="scan_dish_3_9">
  <link name="scan_dish_3_9">
    <inertial>
      <mass value="0.10685294578978259" />
      <inertia ixx="0.0005382321865755197" ixy="-3.4531840916612854e-07" ixz="3.039800187861211e-08" iyy="6.257935323739525e-05" iyz="8.062826250861405e-07" izz="0.0005391169768634052" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//scan_dish_3_9/scan_dish_3_9.stl" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//scan_dish_3_9/scan_dish_3_9.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
