<?xml version='1.0' encoding='utf-8'?>
<robot name="mug_cup02_1">
  <link name="mug_cup02_1">
    <inertial>
      <mass value="0.15160611683247624" />
      <inertia ixx="0.00023763080577946075" ixy="6.499456125435585e-06" ixz="-2.1254055466842574e-06" iyy="0.00021006028102268627" iyz="2.4138793064767093e-06" izz="0.0002176877631007118" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//mug_cup02_1/mug_cup02_1.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//mug_cup02_1/mug_cup02_1.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
