<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0074_9">
  <link name="bowl_0074_9">
    <inertial>
      <mass value="0.0" />
      <inertia ixx="-2.367174743260018e-18" ixy="1.3407825694246195e-19" ixz="-0.0" iyy="-2.9589684290750224e-19" iyz="2.7740329022578336e-20" izz="-2.6630715861675203e-18" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0074_9/bowl_0074_9.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0074_9/bowl_0074_9.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
