<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0036_4">
  <link name="bowl_0036_4">
    <inertial>
      <mass value="0.02938893246786211" />
      <inertia ixx="2.088095070248347e-05" ixy="1.3761887177965623e-12" ixz="4.818612581322059e-13" iyy="1.7135415093330535e-05" iyz="-7.184888972383185e-13" izz="4.836338072833684e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0036_4/bowl_0036_4.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0036_4/bowl_0036_4.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
