<?xml version='1.0' encoding='utf-8'?>
<robot name="melamineware_g_0453_1">
  <link name="melamineware_g_0453_1">
    <inertial>
      <mass value="0.33698294486685426" />
      <inertia ixx="0.001207432144767361" ixy="2.6659591382095735e-06" ixz="1.1882533737841654e-06" iyy="0.001531902214279519" iyz="2.3376250132727623e-06" izz="0.00254476212855405" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/melamineware_g_0453_1/melamineware_g_0453_1.stl" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/melamineware_g_0453_1/melamineware_g_0453_1.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
