<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_10oz_5">
  <link name="takeout_cup_10oz_5">
    <inertial>
      <mass value="0.06898015046572621" />
      <inertia ixx="0.00019858854806470525" ixy="2.8148913047591096e-12" ixz="5.743708507119809e-12" iyy="0.00012016603333774393" iyz="-2.667827589635823e-08" izz="0.0001845521693062897" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//takeout_cup_10oz_5/takeout_cup_10oz_5.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//takeout_cup_10oz_5/takeout_cup_10oz_5.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
