<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_16oz_1">
  <link name="takeout_cup_16oz_1">
    <inertial>
      <mass value="0.06941616626646474" />
      <inertia ixx="0.00028355974815448494" ixy="2.8868282475179762e-12" ixz="1.2004279199758317e-11" iyy="0.00015664348715864785" iyz="-4.1272333702467934e-09" izz="0.0001866717146377067" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//takeout_cup_16oz_1/takeout_cup_16oz_1.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//takeout_cup_16oz_1/takeout_cup_16oz_1.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
