<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0045_6">
  <link name="bowl_0045_6">
    <inertial>
      <mass value="2.3671747432600178e-17" />
      <inertia ixx="-1.0113661622815019e-21" ixy="-4.6233881704297224e-21" ixz="1.1558470426074306e-21" iyy="1.7482186519437387e-20" iyz="-1.3292240989985452e-20" izz="1.849355268171889e-20" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0045_6/bowl_0045_6.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0045_6/bowl_0045_6.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
