<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_13oz_06_3">
  <link name="takeout_cup_13oz_06_3">
    <inertial>
      <mass value="3.0681766638408035" />
      <inertia ixx="0.01216929702383565" ixy="2.0483001507622874e-11" ixz="8.894624907843997e-12" iyy="0.008504257795518022" iyz="-4.2797125954830613e-07" izz="0.017486671570651657" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_13oz_06_3/takeout_cup_13oz_06_3.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_13oz_06_3/takeout_cup_13oz_06_3.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
