<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0017_7">
  <link name="bowl_0017_7">
    <inertial>
      <mass value="0.23784640075080427" />
      <inertia ixx="0.0010050458400525204" ixy="-1.4722282420722746e-08" ixz="7.853403685673465e-07" iyy="0.0012347545435625424" iyz="-6.156881811584623e-10" izz="0.0021692411908223" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0017_7/bowl_0017_7.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0017_7/bowl_0017_7.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
