<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0069">
  <link name="bowl_0069">
    <inertial>
      <mass value="0.13780377402184618" />
      <inertia ixx="-0.00022358509609985146" ixy="-5.572156263668032e-07" ixz="1.1627970935530374e-06" iyy="-0.00010881350221201022" iyz="-2.799611632021051e-06" izz="-0.00010843416039281252" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0069/bowl_0069.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0069/bowl_0069.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
