<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0025_8">
  <link name="bowl_0025_8">
    <inertial>
      <mass value="-0.07461467102547678" />
      <inertia ixx="-1.4339265280836248e-05" ixy="-4.586687983065405e-08" ixz="2.2341599983556856e-07" iyy="3.6734800108361293e-06" iyz="1.979216951754516e-07" izz="-5.2718210863764796e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0025_8/bowl_0025_8.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0025_8/bowl_0025_8.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
