<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0049_0">
  <link name="bowl_0049_0">
    <inertial>
      <mass value="-0.8788097518226706" />
      <inertia ixx="-0.005272653731092495" ixy="-1.068764936362095e-09" ixz="-1.1946578139559586e-08" iyy="-0.0026590098584231103" iyz="-1.0099243932122556e-06" izz="-0.007783760429145889" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0049_0/bowl_0049_0.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0049_0/bowl_0049_0.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
