<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0048_0">
  <link name="bowl_0048_0">
    <inertial>
      <mass value="5.9179368581500445e-18" />
      <inertia ixx="3.467541127822292e-21" ixy="-2.600655845866719e-21" ixz="-3.2508198073333988e-22" iyy="3.467541127822292e-21" iyz="-1.1558470426074306e-21" izz="9.246776340859445e-21" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0048_0/bowl_0048_0.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0048_0/bowl_0048_0.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
