<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0025_0">
  <link name="bowl_0025_0">
    <inertial>
      <mass value="-0.35437647802432615" />
      <inertia ixx="-0.0003727571998690056" ixy="-1.034619157269302e-06" ixz="3.004345340184449e-06" iyy="-0.0005608286500872658" iyz="1.5768115731703996e-06" izz="-0.001133310518972235" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0025_0/bowl_0025_0.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0025_0/bowl_0025_0.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
