<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0020_4">
  <link name="bowl_0020_4">
    <inertial>
      <mass value="-1.1835873716300089e-17" />
      <inertia ixx="1.4014645391615098e-20" ixy="-1.1558470426074306e-21" ixz="1.0113661622815019e-21" iyy="2.45617496554079e-21" iyz="-1.733770563911146e-21" izz="1.618185859650403e-20" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0020_4/bowl_0020_4.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0020_4/bowl_0020_4.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
