<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_13oz_03_9">
  <link name="takeout_cup_13oz_03_9">
    <inertial>
      <mass value="1.1662508410052546" />
      <inertia ixx="0.005461074924957174" ixy="1.3407280754438437e-10" ixz="1.94779171567187e-11" iyy="0.0025684991382074465" iyz="-6.939747508665541e-07" izz="0.006519210259370344" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//takeout_cup_13oz_03_9/takeout_cup_13oz_03_9.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//takeout_cup_13oz_03_9/takeout_cup_13oz_03_9.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
