<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_13oz_10_0">
  <link name="takeout_cup_13oz_10_0">
    <inertial>
      <mass value="3.738164901008197" />
      <inertia ixx="0.012658122119740895" ixy="2.1440876155268726e-11" ixz="-4.1593987250967234e-11" iyy="0.010891185598022983" iyz="-1.1648668087656578e-08" izz="0.01641570707595803" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/takeout_cup_13oz_10_0/takeout_cup_13oz_10_0.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/takeout_cup_13oz_10_0/takeout_cup_13oz_10_0.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
