<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0021_7">
  <link name="bowl_0021_7">
    <inertial>
      <mass value="-0.835906305867614" />
      <inertia ixx="-0.003966563038106546" ixy="-5.174153283058769e-10" ixz="3.9420608202728303e-10" iyy="-0.004032944227924118" iyz="-4.908876072556162e-11" izz="-0.00774675286976706" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0021_7/bowl_0021_7.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0021_7/bowl_0021_7.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
