<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_65oz_05_7">
  <link name="takeout_cup_65oz_05_7">
    <inertial>
      <mass value="0.20946307733087177" />
      <inertia ixx="0.00011208686842579414" ixy="2.412668085322587e-13" ixz="-8.938996116032575e-13" iyy="0.00018913072881743338" iyz="-8.340554249474925e-09" izz="0.00022263588458962605" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_65oz_05_7/takeout_cup_65oz_05_7.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_65oz_05_7/takeout_cup_65oz_05_7.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
