<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0065_6">
  <link name="bowl_0065_6">
    <inertial>
      <mass value="0.11670101025022983" />
      <inertia ixx="0.0003293672680091749" ixy="-8.576600608721329e-10" ixz="-4.581472032228817e-12" iyy="0.00030526666040858486" iyz="1.758227269552864e-10" izz="0.0006039503437673219" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0065_6/bowl_0065_6.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0065_6/bowl_0065_6.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
