<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0030_5">
  <link name="bowl_0030_5">
    <inertial>
      <mass value="-0.041308338937728985" />
      <inertia ixx="-1.2000697654237727e-05" ixy="-1.3555915518243457e-07" ixz="3.368165252133293e-08" iyy="-9.878198605982587e-06" iyz="-3.634797138397428e-09" izz="-2.66080382960003e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0030_5/bowl_0030_5.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0030_5/bowl_0030_5.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
