<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0002_8">
  <link name="bowl_0002_8">
    <inertial>
      <mass value="2.958968429075022e-17" />
      <inertia ixx="-7.274612324410516e-20" ixy="-4.6233881704297224e-21" ixz="1.1558470426074306e-21" iyy="-2.1888853369378218e-20" iyz="-9.246776340859445e-21" izz="-9.709115157902416e-20" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0002_8/bowl_0002_8.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0002_8/bowl_0002_8.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
