<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0004_5">
  <link name="bowl_0004_5">
    <inertial>
      <mass value="-0.20729525505524884" />
      <inertia ixx="-0.0009909070693288559" ixy="-1.356015801513718e-10" ixz="-7.97826864751756e-11" iyy="-7.817198910558369e-05" iyz="6.608193287447588e-11" izz="-0.0010125654942152412" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0004_5/bowl_0004_5.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0004_5/bowl_0004_5.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
