<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_65oz_06_7">
  <link name="takeout_cup_65oz_06_7">
    <inertial>
      <mass value="0.4902686121902959" />
      <inertia ixx="0.0011997293155411896" ixy="3.35833215444617e-12" ixz="-1.272270113069162e-12" iyy="0.00022837637350864434" iyz="-2.40119739187431e-08" izz="0.0012474863903101264" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/takeout_cup_65oz_06_7/takeout_cup_65oz_06_7.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/takeout_cup_65oz_06_7/takeout_cup_65oz_06_7.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
