<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0018">
  <link name="bowl_0018">
    <inertial>
      <mass value="-0.07394772638526569" />
      <inertia ixx="0.0004938124242261984" ixy="1.0471712905566342e-09" ixz="4.6417137859285417e-10" iyy="0.0002493571094800032" iyz="-2.2733118622115168e-10" izz="0.0002493572751809118" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/scripts/../assets/urdf/bowl_0018.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/scripts/../assets/urdf/bowl_0018.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
