<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0030">
  <link name="bowl_0030">
    <inertial>
      <mass value="0.10673276913866678" />
      <inertia ixx="-9.462701886182068e-05" ixy="5.828579447808375e-08" ixz="-5.016077188830093e-07" iyy="-5.371677289242093e-05" iyz="5.914932568484668e-07" izz="-3.322954294428721e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0030/bowl_0030.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0030/bowl_0030.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
