<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_10oz_10_8">
  <link name="takeout_cup_10oz_10_8">
    <inertial>
      <mass value="4.020450633579759" />
      <inertia ixx="0.017541195486253373" ixy="-1.2344445060394626e-11" ixz="5.47010742162781e-11" iyy="0.01128486630052463" iyz="-6.6426179723483416e-09" izz="0.023566992007831324" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//takeout_cup_10oz_10_8/takeout_cup_10oz_10_8.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//takeout_cup_10oz_10_8/takeout_cup_10oz_10_8.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
