<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0004_6">
  <link name="bowl_0004_6">
    <inertial>
      <mass value="-0.5140462606525141" />
      <inertia ixx="-0.0018584592418424977" ixy="-8.338548063143543e-10" ixz="-5.668185810953335e-10" iyy="-0.0010860639345715412" iyz="1.418357938307056e-10" izz="-0.0028043820701678687" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0004_6/bowl_0004_6.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0004_6/bowl_0004_6.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
