<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_65oz">
  <link name="takeout_cup_65oz">
    <inertial>
      <mass value="0.022542102177671598" />
      <inertia ixx="2.151981323876426e-05" ixy="4.3254699417594626e-13" ixz="-3.688941083803038e-13" iyy="2.0104914651056912e-05" iyz="-2.20954768451897e-09" izz="2.1525106440915836e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_65oz/takeout_cup_65oz.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_65oz/takeout_cup_65oz.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
