<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_10oz_0">
  <link name="takeout_cup_10oz_0">
    <inertial>
      <mass value="0.18493984757330093" />
      <inertia ixx="0.0005968790836347793" ixy="2.0233655310925083e-11" ixz="3.796158299792672e-11" iyy="0.001044480414930352" iyz="-7.779020388358551e-08" izz="0.0012815549247933652" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//takeout_cup_10oz_0/takeout_cup_10oz_0.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//takeout_cup_10oz_0/takeout_cup_10oz_0.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
