<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_13oz_06_0">
  <link name="takeout_cup_13oz_06_0">
    <inertial>
      <mass value="1.4292522299891623" />
      <inertia ixx="0.004838329187546179" ixy="4.444783652463383e-12" ixz="2.116770690498122e-12" iyy="0.0015824950595851404" iyz="-1.817832953508771e-07" izz="0.004936274793508724" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_13oz_06_0/takeout_cup_13oz_06_0.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_13oz_06_0/takeout_cup_13oz_06_0.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
