<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0047_5">
  <link name="bowl_0047_5">
    <inertial>
      <mass value="-0.2161388671190056" />
      <inertia ixx="-0.0015502500192093776" ixy="-1.125193481487495e-07" ixz="-5.388788792675027e-09" iyy="-0.00047257900331223605" iyz="4.180441777674312e-08" izz="-0.001985326558689097" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0047_5/bowl_0047_5.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0047_5/bowl_0047_5.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
