<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0012_9">
  <link name="bowl_0012_9">
    <inertial>
      <mass value="-0.1459607335666212" />
      <inertia ixx="0.003075908106969943" ixy="4.984570211216991e-05" ixz="8.733027738225966e-05" iyy="0.002414684280172156" iyz="-3.343249205137852e-05" izz="-0.0015715605109044588" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0012_9/bowl_0012_9.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0012_9/bowl_0012_9.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
