<?xml version='1.0' encoding='utf-8'?>
<robot name="mug_cup01_9">
  <link name="mug_cup01_9">
    <inertial>
      <mass value="0.29236701192707715" />
      <inertia ixx="0.0005244203401848775" ixy="1.0598021217818357e-09" ixz="1.987136971029203e-08" iyy="0.000799581249511848" iyz="4.612709791603482e-06" izz="0.000701863391922175" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//mug_cup01_9/mug_cup01_9.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//mug_cup01_9/mug_cup01_9.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
