<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0052_4">
  <link name="bowl_0052_4">
    <inertial>
      <mass value="0.14870529967506918" />
      <inertia ixx="0.0007295852954238382" ixy="1.257211379442279e-06" ixz="3.8021662055666086e-06" iyy="0.0005453923307669185" iyz="3.347741370875022e-05" izz="0.0012489302166752792" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0052_4/bowl_0052_4.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0052_4/bowl_0052_4.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
