<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0056_4">
  <link name="bowl_0056_4">
    <inertial>
      <mass value="-3.435341709175117" />
      <inertia ixx="-0.010883862584207262" ixy="-7.2248914616394145e-06" ixz="1.3534566962329707e-07" iyy="-0.023809661082859746" iyz="3.3738491301422917e-06" izz="-0.03457225904328" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0056_4/bowl_0056_4.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0056_4/bowl_0056_4.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
