<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_13oz_0">
  <link name="takeout_cup_13oz_0">
    <inertial>
      <mass value="0.2338134858452378" />
      <inertia ixx="0.0015432590099357917" ixy="3.6199193693604335e-11" ixz="-1.6317406987436378e-11" iyy="0.0008821990632223269" iyz="-2.1080818796538114e-07" izz="0.001788669176299776" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/takeout_cup_13oz_0/takeout_cup_13oz_0.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/takeout_cup_13oz_0/takeout_cup_13oz_0.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
