<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0026_5">
  <link name="bowl_0026_5">
    <inertial>
      <mass value="2.4700581162909976" />
      <inertia ixx="0.009248990036613553" ixy="2.499301641606848e-07" ixz="-1.5956280860714532e-08" iyy="0.0022555091708870035" iyz="9.858470996503815e-06" izz="0.013224829737002262" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0026_5/bowl_0026_5.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0026_5/bowl_0026_5.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
