<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0036_9">
  <link name="bowl_0036_9">
    <inertial>
      <mass value="0.017772971872604532" />
      <inertia ixx="3.1435957847214855e-06" ixy="5.03304114017599e-13" ixz="2.793129185609096e-13" iyy="9.266143136313089e-06" iyz="-2.7414465350780433e-13" izz="1.866710146941043e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0036_9/bowl_0036_9.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0036_9/bowl_0036_9.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
