<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_65oz_03_4">
  <link name="takeout_cup_65oz_03_4">
    <inertial>
      <mass value="0.3555303015145921" />
      <inertia ixx="0.001256248645076507" ixy="1.0924993502335961e-11" ixz="-2.7801104546574855e-12" iyy="0.00035412926024381495" iyz="-8.062602494514069e-08" izz="0.0014080394633984444" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/takeout_cup_65oz_03_4/takeout_cup_65oz_03_4.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/takeout_cup_65oz_03_4/takeout_cup_65oz_03_4.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
