<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0081_5">
  <link name="bowl_0081_5">
    <inertial>
      <mass value="-0.1891863079334338" />
      <inertia ixx="-0.0004741335863802471" ixy="-7.944595745432276e-09" ixz="-9.100282861457962e-09" iyy="-0.00046424804446805815" iyz="3.177240080261089e-08" izz="-0.001448292800565122" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0081_5/bowl_0081_5.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0081_5/bowl_0081_5.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
