<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0007_9">
  <link name="bowl_0007_9">
    <inertial>
      <mass value="-0.3034531056745603" />
      <inertia ixx="-0.00110385013574749" ixy="8.929387621556982e-07" ixz="-3.652471613660465e-07" iyy="-0.0006161956808924407" iyz="2.6067382450196707e-09" izz="-0.0016708476225342202" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0007_9/bowl_0007_9.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0007_9/bowl_0007_9.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
