<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0079_8">
  <link name="bowl_0079_8">
    <inertial>
      <mass value="-0.18254815903736094" />
      <inertia ixx="-8.777934917603059e-05" ixy="-1.727189176254124e-10" ixz="3.963734786477222e-11" iyy="-0.00021183192799501216" iyz="-1.5861241724492317e-11" izz="-0.000231259092587709" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0079_8/bowl_0079_8.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0079_8/bowl_0079_8.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
