<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_10oz_06_5">
  <link name="takeout_cup_10oz_06_5">
    <inertial>
      <mass value="1.2760522725992751" />
      <inertia ixx="0.0018007063513756853" ixy="-1.1316655435120998e-12" ixz="3.872013723706247e-11" iyy="0.002829277264001349" iyz="-6.423218601069833e-08" izz="0.0037277583874570914" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_10oz_06_5/takeout_cup_10oz_06_5.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_10oz_06_5/takeout_cup_10oz_06_5.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
