<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0081_9">
  <link name="bowl_0081_9">
    <inertial>
      <mass value="-0.17998582826731843" />
      <inertia ixx="-0.0011325928474269086" ixy="-7.1906644273198295e-09" ixz="-5.849810333716386e-09" iyy="-6.981893694323025e-05" iyz="4.256071998132245e-08" izz="-0.0016875250318707491" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0081_9/bowl_0081_9.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0081_9/bowl_0081_9.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
