<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0032_0">
  <link name="bowl_0032_0">
    <inertial>
      <mass value="-0.08169706242358711" />
      <inertia ixx="-3.2431951152527367e-06" ixy="9.373428461989441e-12" ixz="2.5749562127215433e-10" iyy="-7.5742304688918e-06" iyz="-5.438260850383198e-10" izz="-2.6859061047044998e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0032_0/bowl_0032_0.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0032_0/bowl_0032_0.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
