<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0054_5">
  <link name="bowl_0054_5">
    <inertial>
      <mass value="0.09572562555132755" />
      <inertia ixx="4.0801114044526004e-05" ixy="5.2728008451888716e-12" ixz="1.1216952252768277e-11" iyy="3.6118139119165104e-05" iyz="3.442005464735688e-11" izz="0.00011937197534805406" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0054_5/bowl_0054_5.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0054_5/bowl_0054_5.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
