<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_65oz_3">
  <link name="takeout_cup_65oz_3">
    <inertial>
      <mass value="0.06489806585768619" />
      <inertia ixx="5.540898117699598e-05" ixy="1.8026489513266317e-12" ixz="-7.465099598982976e-12" iyy="0.0003431165157565773" iyz="-5.5957225199506e-09" izz="0.0003324818809309356" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_65oz_3/takeout_cup_65oz_3.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_65oz_3/takeout_cup_65oz_3.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
