<?xml version='1.0' encoding='utf-8'?>
<robot name="scan_dish_2_6">
  <link name="scan_dish_2_6">
    <inertial>
      <mass value="0.1340771028401967" />
      <inertia ixx="9.005249943273528e-05" ixy="1.6919378222108574e-07" ixz="1.645294053739996e-07" iyy="0.0004551096397543794" iyz="1.605947577543653e-07" izz="0.0005187854939601288" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/scan_dish_2_6/scan_dish_2_6.stl" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/scan_dish_2_6/scan_dish_2_6.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
