<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0068_9">
  <link name="bowl_0068_9">
    <inertial>
      <mass value="0.27676664490198205" />
      <inertia ixx="0.0013171436072609267" ixy="3.4403710813398557e-10" ixz="9.88992988334726e-11" iyy="0.0004954573174090827" iyz="-1.7727721539369893e-11" izz="0.0017145702662743018" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0068_9/bowl_0068_9.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0068_9/bowl_0068_9.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
