<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_65oz_10_5">
  <link name="takeout_cup_65oz_10_5">
    <inertial>
      <mass value="1.929969317215966" />
      <inertia ixx="0.00311921734220749" ixy="-1.7967362469880437e-12" ixz="-1.0411852306305355e-11" iyy="0.006363354825897794" iyz="-1.6970447464174254e-09" izz="0.008250523610550176" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/takeout_cup_65oz_10_5/takeout_cup_65oz_10_5.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/takeout_cup_65oz_10_5/takeout_cup_65oz_10_5.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
