<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0071_4">
  <link name="bowl_0071_4">
    <inertial>
      <mass value="0.04670123007107007" />
      <inertia ixx="-5.306685695616578e-05" ixy="1.0372528283479537e-07" ixz="-2.1382956995713492e-07" iyy="6.357393896894273e-06" iyz="1.5191667295536222e-08" izz="0.00012464634774591915" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0071_4/bowl_0071_4.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0071_4/bowl_0071_4.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
