<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0027_2">
  <link name="bowl_0027_2">
    <inertial>
      <mass value="-0.030618793898103264" />
      <inertia ixx="-2.6572409243164837e-05" ixy="1.6674179618638865e-10" ixz="1.2229643919436635e-11" iyy="-5.5406400644311344e-05" iyz="-4.8958456165888235e-12" izz="-7.414907156007942e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0027_2/bowl_0027_2.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0027_2/bowl_0027_2.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
