<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0068_5">
  <link name="bowl_0068_5">
    <inertial>
      <mass value="0.5387455903369451" />
      <inertia ixx="0.0032488404139946023" ixy="1.3036026881927052e-09" ixz="3.315570368184446e-10" iyy="0.002673068769556056" iyz="-3.9002982867763784e-11" izz="0.00573108566524982" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0068_5/bowl_0068_5.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0068_5/bowl_0068_5.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
