<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0017_9">
  <link name="bowl_0017_9">
    <inertial>
      <mass value="0.1644715503491269" />
      <inertia ixx="0.00030039004747731775" ixy="-7.039852332496006e-09" ixz="5.853654232517183e-07" iyy="0.0009880813258360548" iyz="-2.731330663976306e-10" izz="0.0012396794647817509" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0017_9/bowl_0017_9.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0017_9/bowl_0017_9.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
