<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0039_4">
  <link name="bowl_0039_4">
    <inertial>
      <mass value="1.2751562473323415" />
      <inertia ixx="0.00826781060021538" ixy="-1.8815175885303136e-09" ixz="-5.656894505319e-08" iyy="0.004161255627640697" iyz="-1.4881379683410159e-07" izz="0.012080105356166484" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0039_4/bowl_0039_4.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0039_4/bowl_0039_4.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
