<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_16oz_10_5">
  <link name="takeout_cup_16oz_10_5">
    <inertial>
      <mass value="3.8822347625573896" />
      <inertia ixx="0.01007625450726132" ixy="6.268030791424228e-11" ixz="6.660753509074192e-11" iyy="0.016485036188225805" iyz="-1.334310467813086e-08" izz="0.01630697070587088" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_16oz_10_5/takeout_cup_16oz_10_5.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_16oz_10_5/takeout_cup_16oz_10_5.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
