<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0084_2">
  <link name="bowl_0084_2">
    <inertial>
      <mass value="-0.21764928806258116" />
      <inertia ixx="0.008859663835227117" ixy="3.1021391027887474e-06" ixz="-0.00036512559165607043" iyy="0.008059896320747231" iyz="-6.167376631176981e-06" izz="-0.0017149024341605297" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0084_2/bowl_0084_2.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0084_2/bowl_0084_2.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
