<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0009_5">
  <link name="bowl_0009_5">
    <inertial>
      <mass value="-0.22180146922556357" />
      <inertia ixx="-0.001047683161948621" ixy="-2.599970898870744e-09" ixz="-2.0544255823917643e-09" iyy="-0.0005648960030913513" iyz="-5.984390683737853e-09" izz="-0.0015803037818382824" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0009_5/bowl_0009_5.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0009_5/bowl_0009_5.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
