<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_65oz_05_8">
  <link name="takeout_cup_65oz_05_8">
    <inertial>
      <mass value="1.0669177419746299" />
      <inertia ixx="0.0038396047431560392" ixy="6.259569960557979e-12" ixz="-7.402559540975583e-12" iyy="0.0022175230869486773" iyz="-1.3309818251012222e-07" izz="0.005656865289836371" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_65oz_05_8/takeout_cup_65oz_05_8.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_65oz_05_8/takeout_cup_65oz_05_8.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
