<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0045_0">
  <link name="bowl_0045_0">
    <inertial>
      <mass value="-3.550762114890027e-17" />
      <inertia ixx="-7.310732544492e-20" ixy="-2.7740329022578336e-20" ixz="8.090929298252015e-21" iyy="-3.612022008148221e-20" iyz="4.0454646491260076e-21" izz="-1.1096131609031334e-19" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0045_0/bowl_0045_0.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0045_0/bowl_0045_0.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
