<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0062_3">
  <link name="bowl_0062_3">
    <inertial>
      <mass value="2.6340911245645486e-08" />
      <inertia ixx="-7.426298204436866e+24" ixy="-6.013442357567052e-11" ixz="11628808.983018206" iyy="-7.426298204436866e+24" iyz="3562252.87210998" izz="-6.347239784312378e-12" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0062_3/bowl_0062_3.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0062_3/bowl_0062_3.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
