<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0075_2">
  <link name="bowl_0075_2">
    <inertial>
      <mass value="-0.28723886103915847" />
      <inertia ixx="-0.00040554028409252915" ixy="5.878050373589475e-11" ixz="-3.1843550601630664e-10" iyy="-0.00044304536589599865" iyz="4.434888875860487e-10" izz="-0.0007674562634184824" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0075_2/bowl_0075_2.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0075_2/bowl_0075_2.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
