<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0017_2">
  <link name="bowl_0017_2">
    <inertial>
      <mass value="0.07754769087552245" />
      <inertia ixx="4.7821265332211045e-05" ixy="-1.5650193730216857e-09" ixz="2.4632427336137045e-07" iyy="0.0003734266705615434" iyz="-6.803437326582259e-11" izz="0.000398242742399772" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0017_2/bowl_0017_2.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0017_2/bowl_0017_2.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
