<?xml version='1.0' encoding='utf-8'?>
<robot name="mug_cup02_0">
  <link name="mug_cup02_0">
    <inertial>
      <mass value="0.7807565435107695" />
      <inertia ixx="0.004813712706282851" ixy="0.00017237522009921736" ixz="-2.1802400222038194e-05" iyy="0.0025345529302285576" iyz="3.2140289154574925e-05" izz="0.006163771212664697" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//mug_cup02_0/mug_cup02_0.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//mug_cup02_0/mug_cup02_0.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
