<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0026_9">
  <link name="bowl_0026_9">
    <inertial>
      <mass value="1.1483166465365353" />
      <inertia ixx="0.004582796168546856" ixy="5.401665072408115e-08" ixz="-3.349220404565054e-09" iyy="-0.00010461456342879762" iyz="4.7191194881247474e-06" izz="0.005277953955227042" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0026_9/bowl_0026_9.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0026_9/bowl_0026_9.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
