<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0021_3">
  <link name="bowl_0021_3">
    <inertial>
      <mass value="-0.14399678477016092" />
      <inertia ixx="-6.0108380493934037e-05" ixy="-1.535428784045197e-11" ixz="4.859281982142758e-11" iyy="-0.00036635629138435374" iyz="-2.0357238630669846e-12" izz="-0.0003829241217675838" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0021_3/bowl_0021_3.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0021_3/bowl_0021_3.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
