<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0028_4">
  <link name="bowl_0028_4">
    <inertial>
      <mass value="0.0859593180760848" />
      <inertia ixx="0.00027883385080616736" ixy="-1.6406600478901143e-11" ixz="4.1669377783635635e-12" iyy="0.00014270515918517966" iyz="-1.91880006849032e-11" izz="0.00040042562980631744" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0028_4/bowl_0028_4.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0028_4/bowl_0028_4.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
