<?xml version='1.0' encoding='utf-8'?>
<robot name="melamineware_g_0210_7">
  <link name="melamineware_g_0210_7">
    <inertial>
      <mass value="0.19103848265349493" />
      <inertia ixx="0.0009641726271166715" ixy="6.158777960125582e-12" ixz="6.070601553116274e-11" iyy="0.001054587746054405" iyz="-4.71659581464723e-13" izz="0.002015444901778521" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//melamineware_g_0210_7/melamineware_g_0210_7.stl" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//melamineware_g_0210_7/melamineware_g_0210_7.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
