<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0045">
  <link name="bowl_0045">
    <inertial>
      <mass value="-2.9589684290750223e-18" />
      <inertia ixx="6.935082255644584e-21" ixy="-1.5892896835852171e-21" ixz="-1.1558470426074306e-21" iyy="-3.973224208963043e-22" iyz="-4.6233881704297224e-21" izz="6.537759834748281e-21" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/scripts/../assets/urdf/bowl_0045.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/scripts/../assets/urdf/bowl_0045.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
