<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0061_3">
  <link name="bowl_0061_3">
    <inertial>
      <mass value="-0.003184639576886734" />
      <inertia ixx="-1.1895044997131305e-06" ixy="-1.552990274833792e-08" ixz="-4.878810865277366e-07" iyy="-8.361165553706428e-06" iyz="-7.033153094148833e-08" izz="-8.964119543195302e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0061_3/bowl_0061_3.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0061_3/bowl_0061_3.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
