<?xml version='1.0' encoding='utf-8'?>
<robot name="Y6995_cerembowl_2">
  <link name="Y6995_cerembowl_2">
    <inertial>
      <mass value="-0.1694289054456541" />
      <inertia ixx="-0.001205503788322489" ixy="4.409217380528624e-09" ixz="-1.340050820123095e-08" iyy="-0.0010983393468293075" iyz="1.890261526257972e-09" izz="-0.0022354874119230282" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/Y6995_cerembowl_2/Y6995_cerembowl_2.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/Y6995_cerembowl_2/Y6995_cerembowl_2.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
