<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0077_9">
  <link name="bowl_0077_9">
    <inertial>
      <mass value="1.38830674308106" />
      <inertia ixx="0.0052701277890293136" ixy="2.0506388542825626e-06" ixz="-1.5655780282363478e-06" iyy="0.0019757520877905846" iyz="5.8971610481995354e-05" izz="0.007415790119055279" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0077_9/bowl_0077_9.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0077_9/bowl_0077_9.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
