<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0044_3">
  <link name="bowl_0044_3">
    <inertial>
      <mass value="0.10679474348267115" />
      <inertia ixx="0.0010984975091270666" ixy="2.5788725796240085e-09" ixz="-2.410306103607684e-10" iyy="0.0003496254006063631" iyz="4.1764981086895544e-10" izz="0.0014448343993107263" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0044_3/bowl_0044_3.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0044_3/bowl_0044_3.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
