<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0023_3">
  <link name="bowl_0023_3">
    <inertial>
      <mass value="-1.080572508435518" />
      <inertia ixx="-0.006670911081995581" ixy="-5.214533452299874e-08" ixz="6.1840146210101856e-09" iyy="-0.0021545374305496612" iyz="2.4851082051434867e-05" izz="-0.00874248017633028" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0023_3/bowl_0023_3.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0023_3/bowl_0023_3.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
