<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0083_3">
  <link name="bowl_0083_3">
    <inertial>
      <mass value="-3.550762114890027e-17" />
      <inertia ixx="-1.4448088032592883e-22" ixy="-1.4794842145375112e-19" ixz="-1.3725683630963239e-21" iyy="4.0671367811748964e-19" iyz="-3.236371719300806e-20" izz="4.068581589978156e-19" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0083_3/bowl_0083_3.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0083_3/bowl_0083_3.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
