<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0033_4">
  <link name="bowl_0033_4">
    <inertial>
      <mass value="-1.1835873716300089e-17" />
      <inertia ixx="2.5895037279165615e-19" ixy="3.698710536343778e-20" ixz="-0.0" iyy="1.11001951337905e-19" iyz="-0.0" izz="3.698710536343779e-19" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0033_4/bowl_0033_4.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0033_4/bowl_0033_4.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
