<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_10oz_06_9">
  <link name="takeout_cup_10oz_06_9">
    <inertial>
      <mass value="0.585376347975112" />
      <inertia ixx="0.0015382748706142342" ixy="-2.381505046144543e-13" ixz="5.556637782616003e-12" iyy="0.0003137076366929067" iyz="-4.320933871237838e-08" izz="0.0014380956154363377" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//takeout_cup_10oz_06_9/takeout_cup_10oz_06_9.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//takeout_cup_10oz_06_9/takeout_cup_10oz_06_9.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
