<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0065_4">
  <link name="bowl_0065_4">
    <inertial>
      <mass value="0.2862282315945369" />
      <inertia ixx="0.002141712311359696" ixy="-5.159301286311428e-09" ixz="-1.6674413492960635e-11" iyy="0.0016034368277253977" iyz="7.127595422496265e-10" izz="0.0036698926511194397" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0065_4/bowl_0065_4.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0065_4/bowl_0065_4.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
