<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_10oz_03_9">
  <link name="takeout_cup_10oz_03_9">
    <inertial>
      <mass value="0.43873854902891485" />
      <inertia ixx="0.0004831649021387514" ixy="-9.965170970396638e-13" ixz="3.695740882802302e-11" iyy="0.0011044272322632404" iyz="-7.004761351447245e-08" izz="0.0011955213865703297" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/takeout_cup_10oz_03_9/takeout_cup_10oz_03_9.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/takeout_cup_10oz_03_9/takeout_cup_10oz_03_9.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
