<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0048_5">
  <link name="bowl_0048_5">
    <inertial>
      <mass value="-9.468698973040071e-17" />
      <inertia ixx="1.1096131609031334e-19" ixy="-2.7740329022578336e-20" ixz="7.801967537600157e-21" iyy="-1.4794842145375112e-19" iyz="-9.246776340859445e-21" izz="-3.6987105363437773e-20" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0048_5/bowl_0048_5.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0048_5/bowl_0048_5.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
