<?xml version='1.0' encoding='utf-8'?>
<robot name="Glassbowl_800_tex_1">
  <link name="Glassbowl_800_tex_1">
    <inertial>
      <mass value="0.45667924601869286" />
      <inertia ixx="0.0012219599625450652" ixy="-1.1291819694140725e-05" ixz="6.443476480012803e-07" iyy="0.00015881324451366775" iyz="4.2126173036689404e-05" izz="0.001365247782751425" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/Glassbowl_800_tex_1/Glassbowl_800_tex_1.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/Glassbowl_800_tex_1/Glassbowl_800_tex_1.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
