<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0059_3">
  <link name="bowl_0059_3">
    <inertial>
      <mass value="0.3420736306417896" />
      <inertia ixx="-209.44783133940112" ixy="5.085069558645925e-07" ixz="-0.02406404365080365" iyy="-209.44818425243054" iyz="-0.001812741965832801" izz="0.0016957620494369595" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0059_3/bowl_0059_3.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0059_3/bowl_0059_3.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
