<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0074_4">
  <link name="bowl_0074_4">
    <inertial>
      <mass value="0.0" />
      <inertia ixx="-4.734349486520036e-18" ixy="-3.698710536343778e-20" ixz="-7.397421072687556e-20" iyy="-2.367174743260018e-18" iyz="3.0976700741879145e-19" izz="-7.101524229780054e-18" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0074_4/bowl_0074_4.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0074_4/bowl_0074_4.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
