<?xml version='1.0' encoding='utf-8'?>
<robot name="melamineware_g_0453_7">
  <link name="melamineware_g_0453_7">
    <inertial>
      <mass value="0.1288108583004082" />
      <inertia ixx="9.480557077304139e-05" ixy="3.895315098591476e-07" ixz="4.7117325479386003e-07" iyy="0.0006272991622449385" iyz="3.292584501519684e-07" izz="0.0006477300016169325" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/melamineware_g_0453_7/melamineware_g_0453_7.stl" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/melamineware_g_0453_7/melamineware_g_0453_7.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
