<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0079_2">
  <link name="bowl_0079_2">
    <inertial>
      <mass value="-0.738800520877866" />
      <inertia ixx="-0.0010917239533235472" ixy="-2.8290418926537136e-09" ixz="3.096956532780492e-10" iyy="-0.0028180443542643405" iyz="-1.3457235985997342e-10" izz="-0.0036331364870337743" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0079_2/bowl_0079_2.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0079_2/bowl_0079_2.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
