<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0017_1">
  <link name="bowl_0017_1">
    <inertial>
      <mass value="0.1061099148908975" />
      <inertia ixx="0.00013441249044211486" ixy="-2.9301773668718986e-09" ixz="2.9844440368737476e-07" iyy="0.00040401725735086556" iyz="-1.4385781063524457e-10" izz="0.0005069513234049032" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0017_1/bowl_0017_1.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0017_1/bowl_0017_1.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
