<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0004_1">
  <link name="bowl_0004_1">
    <inertial>
      <mass value="-0.3831318621997777" />
      <inertia ixx="-0.00039547507522800666" ixy="-4.632149512835079e-10" ixz="-6.204904782653405e-10" iyy="-0.0016857545657724138" iyz="5.364546321629896e-11" izz="-0.0019767788802095986" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0004_1/bowl_0004_1.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0004_1/bowl_0004_1.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
