<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0016_8">
  <link name="bowl_0016_8">
    <inertial>
      <mass value="-0.3072071794219377" />
      <inertia ixx="-0.0011943068142021946" ixy="3.387121038990843e-10" ixz="-2.1385013651045607e-10" iyy="-0.0005124299269508756" iyz="-4.154552776472548e-09" izz="-0.0014878861988223348" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0016_8/bowl_0016_8.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0016_8/bowl_0016_8.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
