<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0012_8">
  <link name="bowl_0012_8">
    <inertial>
      <mass value="-0.1672078479949663" />
      <inertia ixx="0.0035434982384671136" ixy="6.541373660228983e-05" ixz="0.00011685008283611982" iyy="0.0023003706770727984" iyz="-3.7563532358186586e-05" izz="-0.0022463027315819005" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0012_8/bowl_0012_8.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0012_8/bowl_0012_8.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
