<?xml version='1.0' encoding='utf-8'?>
<robot name="Y6995_cerembowl_1">
  <link name="Y6995_cerembowl_1">
    <inertial>
      <mass value="-0.11332755569470591" />
      <inertia ixx="-0.00040521271641434084" ixy="1.972684098739642e-09" ixz="-8.582199326986558e-09" iyy="-0.000675411452495229" iyz="8.83260108681839e-10" izz="-0.0010349024131626147" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//Y6995_cerembowl_1/Y6995_cerembowl_1.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//Y6995_cerembowl_1/Y6995_cerembowl_1.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
