<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0023_4">
  <link name="bowl_0023_4">
    <inertial>
      <mass value="-1.2790678077204314" />
      <inertia ixx="-0.007503614306486422" ixy="-7.306254005105235e-08" ixz="8.889924945426529e-09" iyy="-0.003738251605100195" iyz="2.8670593264113615e-05" izz="-0.011143656742757836" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0023_4/bowl_0023_4.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0023_4/bowl_0023_4.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
