<?xml version='1.0' encoding='utf-8'?>
<robot name="melamineware_g_0151_1">
  <link name="melamineware_g_0151_1">
    <inertial>
      <mass value="0.26462108025286457" />
      <inertia ixx="0.0006637199947897832" ixy="-1.1970606160910656e-07" ixz="4.6937875737482815e-07" iyy="0.000834264108054277" iyz="5.767971631333905e-07" izz="0.0014459258517576048" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//melamineware_g_0151_1/melamineware_g_0151_1.stl" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//melamineware_g_0151_1/melamineware_g_0151_1.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
