<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0002">
  <link name="bowl_0002">
    <inertial>
      <mass value="1.1096131609031334e-18" />
      <inertia ixx="8.668852819555728e-22" ixy="5.779235213037153e-22" ixz="-0.0" iyy="4.767869050755652e-21" iyz="-3.75650288847415e-21" izz="-3.612022008148221e-21" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0002/bowl_0002.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0002/bowl_0002.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
