<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0011_8">
  <link name="bowl_0011_8">
    <inertial>
      <mass value="0.015330444537138601" />
      <inertia ixx="5.6739073788994934e-05" ixy="-6.725755835557148e-11" ixz="3.2742365483239176e-12" iyy="4.173569418720246e-05" iyz="3.409711653583623e-11" izz="9.358377622065431e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0011_8/bowl_0011_8.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0011_8/bowl_0011_8.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
