<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0079_9">
  <link name="bowl_0079_9">
    <inertial>
      <mass value="-1.3561155671940563" />
      <inertia ixx="-0.006588657906071931" ixy="-9.531876250395874e-09" ixz="5.484447122369442e-10" iyy="-0.0048323196580165335" iyz="-4.699662274133316e-10" izz="-0.010913202180025516" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0079_9/bowl_0079_9.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0079_9/bowl_0079_9.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
