<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_10oz_06_1">
  <link name="takeout_cup_10oz_06_1">
    <inertial>
      <mass value="2.9270287408527538" />
      <inertia ixx="0.013668912823093248" ixy="-5.954360538937482e-12" ixz="1.0084672853692604e-10" iyy="0.008067649890958237" iyz="-2.976482551604972e-07" izz="0.019667024318524167" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_10oz_06_1/takeout_cup_10oz_06_1.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_10oz_06_1/takeout_cup_10oz_06_1.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
