<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_10oz_03_0">
  <link name="takeout_cup_10oz_03_0">
    <inertial>
      <mass value="0.7875623814843467" />
      <inertia ixx="0.00255575669286168" ixy="-3.2110204001279695e-12" ixz="5.758988856689443e-11" iyy="0.0015807019560476108" iyz="-2.600076500563119e-07" izz="0.003432667809111663" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_10oz_03_0/takeout_cup_10oz_03_0.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_10oz_03_0/takeout_cup_10oz_03_0.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
