<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0047_8">
  <link name="bowl_0047_8">
    <inertial>
      <mass value="-0.12453519383271386" />
      <inertia ixx="-0.00027191661530918444" ixy="-3.735473570631862e-08" ixz="-3.2887717359946483e-09" iyy="-0.00030417497268160317" iyz="1.3102594505299822e-08" izz="-0.0005544833660877124" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0047_8/bowl_0047_8.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0047_8/bowl_0047_8.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
