<?xml version='1.0' encoding='utf-8'?>
<robot name="Y6994_cerembowl2">
  <link name="Y6994_cerembowl2">
    <inertial>
      <mass value="0.08691552132124053" />
      <inertia ixx="5.816050273694019e-05" ixy="-7.342176113277122e-08" ixz="2.727381301204501e-06" iyy="4.254974193585302e-05" iyz="-4.6095011783575946e-09" izz="4.513493360770984e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/Y6994_cerembowl2/Y6994_cerembowl2.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/Y6994_cerembowl2/Y6994_cerembowl2.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
