<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_10oz_05_1">
  <link name="takeout_cup_10oz_05_1">
    <inertial>
      <mass value="2.098970626995058" />
      <inertia ixx="0.009934692050851714" ixy="-9.419307543761392e-12" ixz="1.5405146041014734e-10" iyy="0.005792688058302282" iyz="-4.5022971109587903e-07" izz="0.014370970139698474" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_10oz_05_1/takeout_cup_10oz_05_1.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_10oz_05_1/takeout_cup_10oz_05_1.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
