<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0046_9">
  <link name="bowl_0046_9">
    <inertial>
      <mass value="0.010524380841326312" />
      <inertia ixx="6.322808353298673e-06" ixy="4.1806639009870404e-11" ixz="2.664757959356564e-11" iyy="1.152944137191226e-05" iyz="2.0949247500406787e-11" izz="1.587454081110028e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0046_9/bowl_0046_9.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0046_9/bowl_0046_9.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
