<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0075_4">
  <link name="bowl_0075_4">
    <inertial>
      <mass value="-0.8506317680630886" />
      <inertia ixx="-0.003881726494397141" ixy="5.155017068880035e-10" ixz="-1.4969704241675161e-09" iyy="-0.0031236456592901797" iyz="2.4501135638380983e-09" izz="-0.006765114852532852" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0075_4/bowl_0075_4.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//bowl_0075_4/bowl_0075_4.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
