<?xml version='1.0' encoding='utf-8'?>
<robot name="melamineware_g_0207_1">
  <link name="melamineware_g_0207_1">
    <inertial>
      <mass value="0.23917858902932626" />
      <inertia ixx="0.0010766227643313738" ixy="-2.773470941862632e-09" ixz="-6.521612249440978e-10" iyy="0.0013444685639868372" iyz="-4.505230740315077e-10" izz="0.0024178188674570298" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/melamineware_g_0207_1/melamineware_g_0207_1.stl" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/melamineware_g_0207_1/melamineware_g_0207_1.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
