<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0044_6">
  <link name="bowl_0044_6">
    <inertial>
      <mass value="0.07238105031923099" />
      <inertia ixx="0.00020554081915923072" ixy="1.184622268692826e-09" ixz="-2.1113754728015937e-10" iyy="0.000395088127526507" iyz="1.484376360067118e-10" izz="0.0005984001306352584" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0044_6/bowl_0044_6.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0044_6/bowl_0044_6.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
