<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0052_6">
  <link name="bowl_0052_6">
    <inertial>
      <mass value="0.0606301433124425" />
      <inertia ixx="0.00011225375460981381" ixy="2.0899341371604458e-07" ixz="1.0446855097900894e-06" iyy="0.00010388331656344277" iyz="8.258170983319239e-06" izz="0.00020551701812005632" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0052_6/bowl_0052_6.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0052_6/bowl_0052_6.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
