<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0063_3">
  <link name="bowl_0063_3">
    <inertial>
      <mass value="-1.6368714276317167" />
      <inertia ixx="-0.011000707597342632" ixy="1.4662085375901918e-08" ixz="1.7404158100767932e-08" iyy="-0.0037685588910069323" iyz="5.065206753622492e-08" izz="-0.01395344482170927" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0063_3/bowl_0063_3.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0063_3/bowl_0063_3.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
