<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_13oz_05">
  <link name="takeout_cup_13oz_05">
    <inertial>
      <mass value="0.2487245589289936" />
      <inertia ixx="0.00019731099760323612" ixy="-2.9091984229027826e-12" ixz="-1.034971750474192e-12" iyy="0.00015852622194760375" iyz="-2.1834628777790856e-08" izz="0.0001973247905037632" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_13oz_05/takeout_cup_13oz_05.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/takeout_cup_13oz_05/takeout_cup_13oz_05.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
