<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0055_7">
  <link name="bowl_0055_7">
    <inertial>
      <mass value="0.0" />
      <inertia ixx="-2.538786797292004e-05" ixy="9.246776340859445e-21" ixz="4.334426409777865e-22" iyy="-2.5387867972920086e-05" iyz="-6.646120494992726e-21" izz="1.3870164511289168e-20" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0055_7/bowl_0055_7.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0055_7/bowl_0055_7.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
