<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0044_5">
  <link name="bowl_0044_5">
    <inertial>
      <mass value="0.08382731685308598" />
      <inertia ixx="0.00031958399997982585" ixy="1.5889171825264687e-09" ixz="-2.442428708801689e-10" iyy="0.0004565086283649059" iyz="1.9932861959394358e-10" izz="0.0007735113495646262" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0044_5/bowl_0044_5.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_gen/assets/urdf/bowl_0044_5/bowl_0044_5.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
