<?xml version='1.0' encoding='utf-8'?>
<robot name="takeout_cup_10oz_06_8">
  <link name="takeout_cup_10oz_06_8">
    <inertial>
      <mass value="0.801951254330562" />
      <inertia ixx="0.002432289778566438" ixy="-4.469686528990246e-13" ixz="9.608176372986538e-12" iyy="0.0005165153113792954" iyz="-6.425207240379306e-08" izz="0.002381790188788709" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//takeout_cup_10oz_06_8/takeout_cup_10oz_06_8.STL" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//takeout_cup_10oz_06_8/takeout_cup_10oz_06_8.STL" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
