<?xml version='1.0' encoding='utf-8'?>
<robot name="scan_dish_1_8">
  <link name="scan_dish_1_8">
    <inertial>
      <mass value="0.15505847562113093" />
      <inertia ixx="0.00011790979354491142" ixy="1.4157048572298392e-06" ixz="9.644811110449339e-07" iyy="0.0010085943180076838" iyz="1.4476246240122147e-07" izz="0.0011041153489092085" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//scan_dish_1_8/scan_dish_1_8.stl" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/jongsoo/catkin_ws/src/stable_push_data_check/assets/urdf//scan_dish_1_8/scan_dish_1_8.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
