<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0060_5">
  <link name="bowl_0060_5">
    <inertial>
      <mass value="-0.13945662750102583" />
      <inertia ixx="-0.0007377341691548975" ixy="-1.0293515580688886e-10" ixz="-2.2981480254516976e-11" iyy="-0.0007277871613052096" iyz="-1.1159890536063409e-11" izz="-0.0014618511469078447" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0060_5/bowl_0060_5.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/rise/catkin_ws/src/stable_push_data_check/assets/urdf/bowl_0060_5/bowl_0060_5.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
